@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  background-color: black;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  width: 50%;
  margin: 150px auto;
}

.heading {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputField {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.inputField::placeholder{
    color: white;
}

.inputField:focus{
    outline: none;
}

.submitBtn{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}